:root {
    --cls-primary: #ffffff;
    --cls-text: #001725;
    --blue-gray: #d8d8d8;
    --green-bg: #32b24d;
    --yellow-bg: #fed349;
  }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
    outline: red solid 1px;
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 1128px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    
    height: 64px;
    background-color: white;
}
.logo{
    display: flex;
    font-size: 32px;
    

}
.nav__link{
    display: flex;
    gap: 16px;
}
.section{
    display:grid;
    grid-template-columns: 672px 432px; 
    padding: 32px 0px 32px 24px;
}
.course{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 คอลัมน์ที่มีขนาดเท่ากัน */
    grid-template-rows: repeat(2, auto); /* 2 แถวที่ขนาดขึ้นอยู่กับคอนเทนต์ */
    gap: 10px; /* ระยะห่างระหว่างคอลัมน์และแถว */
}
.image__small{
    height: auto;
    width: 35%;
    object-fit: cover;
}
.hero__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container__side{
 padding: 16px 0px 16px 16px;
 gap: 16px;
}

.info__side{
    width: 269px ;
}