:root {
    --cls-primary: #ffffff;
    --cls-text: #4a4a4a;
  }
  
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
    outline: red solid 1px;
}

.container__style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 300px;
    max-width: 1128px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    
    height: 64px;
    background-color: var(--cls-primary);
}
.section {
    display: grid;
    grid-template-columns: 672px 400px; 
    padding: 32px 0px 32px 24px;
    gap: 32px;
}



.course{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 คอลัมน์ที่มีขนาดเท่ากัน */
    grid-template-rows: repeat(2, auto); /* 2 แถวที่ขนาดขึ้นอยู่กับคอนเทนต์ */
    gap: 32px; 
}
.container__side{
 padding: 16px 0px 16px 16px;
 gap: 16px;
 width: 100%;
}
.info__side{
    width: 65% ;
}
.text__big{
margin: 32px 0px;

color: var(--cls-text);
font-weight: bold;
font-size: 32px;
}
.text__medium{
    margin-top :16px;
    margin-bottom: 8px;

    color: var(--cls-text);
    font-weight: bold;
    font-size: 20px;
}
.image__small{
    height: 150px;
    width: 150px;
    object-fit: cover;
}
.image__landscape{
    height: auto;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 640px) {
    .section, .course {
        grid-template-columns: 1fr; /* เปลี่ยนให้เป็น 1 คอลัมน์ */
    }
    .container__side{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hidden__section{
        display: none;
    }
    
}